@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Importe tes styles spécifiques au home */
@import "./home/style.css";

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
    /* Tes couleurs spécifiques au thème Home */
    --color-brand: #16a34a;
    --primary-green: #34AF6C;
    --second-green: #5BA73F;
    --color-pink: #5BA73F;
}
